<header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="brand-heading">Friends of Ravenna-Cowen</h2>
              <p class="intro-text">Friends of Ravenna-Cowen is a 501(c)(3) non-profit that worked to obtain National Historic District (NHD) designation for Ravenna-Cowen. Our neighborhood is intact and is rich in history. The NHD designation will preserve and protect the heritage of the Ravenna-Cowen neighborhood as a shared community resource for all. This designation strengthens the neighborhood character, giving it an identity and recognition on a national level. Scroll down to read more about the National Historic District designation.</p>
			  <br>
			  <br>
              <a href="#designation" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
       </div>
    </header>

	<!-- National Historic District Designation -->
    <section id="designation" class="content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>National Historic District Designation</h2>
          <p>On September 13, 2018 the Ravenna-Cowen North Historic District was listed in the National Historic Register of Historic Places, where it joins other districts which contribute to the rich cultural heritage of Washington State. You can download many documents about the national historic designation below and read more about the history of the Ravenna and Cowen neighborhoods.</p>
		  
		  <a href="http://www.friendsofravennacowen.org/downloads/RCN_NHD_certificate.pdf" class="btn btn-default btn-lg" target="_blank">Download Certificate</a>
		  
		  <br>
		  <br>
         
		 <a href="http://www.friendsofravennacowen.org/downloads/RCN NHD letter.pdf" class="btn btn-default btn-lg" target="_blank">Download <br> Designation Letter</a>

		 <br>
		  <br>
         
		 <a href="http://www.friendsofravennacowen.org/downloads/FORC_DAHP_application_all.pdf" class="btn btn-default btn-lg" target="_blank">Download National <br> Historic Survey</a>
		 
		 <br>
		  <br>
		  
		 <a href="http://www.friendsofravennacowen.org/downloads/FORC_all_maps.pdf" class="btn btn-default btn-lg" target="_blank">Download Static Maps</a>
		 
		 <br>
		  <br>
		  
		 <a href="http://www.friendsofravennacowen.org/downloads/5_National Register FAQs.pdf" class="btn btn-default btn-lg" target="_blank">Download Historic <br> District FAQs</a> 
		 
        </div>
      </div>
    </section>

	<!-- History Section -->
    <section id="history" class="content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
		
          <h2>The History of Ravenna and Cowen Neighborhoods</h2>
          
		  <p>Properties in this area gained value in the mid-1880s when the Seattle, Lake Shore & Eastern Railroad was extended from Seattle up the western shore of Lake Washington. Ravenna became a stop on the new railroad.</p>
		  
			<p>William W. Beck, a Presbyterian minister from Kentucky, and his wife Louise purchased 400 acres on Union Bay. They developed the property around Ravenna station into town lots. Ten acres were set aside for the Seattle Female College. This later became the University of Washington. The Becks fenced the ravine between what would become 15th Avenue NE and 20th Avenue NE and opened Ravenna Park. Ravenna Park became a popular destination for Seattle residents, who were willing to pay 25 cents apiece to visit it. Annual passes were $5.</p>

			<p>In the early 1900s, Seattle city engineers diverted Ravenna Creek from Green Lake into a sewer that discharged into Union Bay. Ravenna Boulevard was constructed between Green Lake and Ravenna Park along the stream, following a recommendation in the Olmsted Plan of 1903.</p>

			<p>Ravenna was incorporated as a town in 1906 and annexed to the City in 1907.  The boundaries were 15th Avenue NE on the west, NE 55th Street on the south, 30th Avenue NE on the east, and NE 65th Street on the north, except for an extension to NE 85th street between 15th Avenue NE and 20th Avenue NE.  Developer Charles Cowen acquired the upper end of the Ravenna ravine, west of 15th Avenue NE, in 1906. He set aside eight acres for Cowen Park. When Theodore Roosevelt died in 1919, citizens showered the city with his memory. The new high school was built in 1922 and bore his name. 10th Avenue NE became Roosevelt Way NE, and the area between Ravenna Boulevard and Lake City Way NE became the Roosevelt District.</p>

			<p>In the 1920s, a thriving commercial district sprung up along Roosevelt Way NE as the automobile transformed America. On January 1, 1928, Sears, Roebuck & Co. opened its North Seattle store at NE 65th Street. The store closed in January 1980, and the building was turned into Roosevelt Square shopping arcade.</p>

			<p>Ravenna was the scene of several projects by the Works Progress Administration (WPA) during the 1930s. In 1936 the WPA built the Cowen Park Bridge, an art-deco style bridge over Ravenna Creek. The Cowen Park Bridge and the 20th Avenue NE Bridge (built in 1913) are both Seattle landmarks in the Ravenna and Cowen neighborhoods.</p>
			
			<p>Ravenna neighbors have a long history of activism. In 1948, the community battled the city engineer over efforts to divert Ravenna Creek into sewers. In 1983, protests against the state Department of Agriculture’s spraying of the pesticide carbaryl to combat an infestation of gypsy moths resulted in a switch to a different compound. In 1991, the community again blocked a city plan to dig up the park for a new sewer.</p>
			
			<p>The Ravenna and Cowen neighborhoods are filled with historically significant architecture.  Many styles are well represented but several architectural historians consider Ravenna and Cowen to be some of Seattle’s best early twentieth century bungalow neighborhoods, worthy of historical distinction and preservation efforts. </p>
			
			<p>Click the link below to download a PDF with examples of the bungalow residences that have been noted for their historical architectural character:</p> 
        
			<a href="http://www.friendsofravennacowen.org/downloads/neighborhood_history.pdf" class="btn btn-default btn-lg" target="_blank">Download History</a>
			
        </div>
      </div>
    </section>
	
    <!-- Interactive Map -->
    <section id="maps" class="content-section text-center">
		<div class="container">
			<div class="row">
			  <div class="col-lg-8 mx-auto">
			  <h2>Interactive Map</h2>
				  <p>This is an interactive map of every home in Ravenna-Cowen that was surveyed as part of the application for national historic designation. Click on any parcel inside the black district boundary to see the address, year built, and a link to a PDF document with many more details. Use the search window in the upper right to find a specific address.</p>
			  </div>
        </div>
      </div>
	<div class="map-container">
			<iframe src="http://www.friendsofravennacowen.org/forc_map_v1.html" height="400" width="800" allowfullscreen="" frameborder="0">
			</iframe>
      </div>
    </section>
	
	<!-- About Us Section -->
    <section id="aboutus" class="aboutus-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          		  
		  <h2>About the Friends of Ravenna-Cowen</h2>
		  <p>Friends of Ravenna-Cowen is a 501(c)(3) non-profit corporation that was organized to celebrate and raise awareness of the neighborhoods to the north and west of Ravenna and Cowen parks. It is bordered by Ravenna Boulevard and 12th Ave NE on the west, 24th Ave NE on the east, NE 65th St on the north, and the Ravenna Park ravine on the south. This area includes many examples of historically significant architecture, numerous heritage trees, and the incomparable public resources of Ravenna and Cowen Parks.</p>
		  
		<p>Our neighborhood is architecturally intact and represents a fascinating period in the development of the City of Seattle. Ravenna's architectural resources highlight a period of rapid growth in the early 20th century, encompassing the history of Ravenna and Cowen Parks; the Olmsted legacy; the streetcar era; development of the University of Washington’s environs (along with the 1909 Alaska Yukon Pacific Exposition); and the rise of a “bungalow” style that provided homes for working families and university staff.</p>
		
		<p>Historic properties that are demolished or whose architectural integrity has been sufficiently altered are irreversibly and irretrievably lost. In the face of rapid redevelopment in our city, we are turning our activism toward protecting the fragile historic character that enlivens our community.</p>
		
		<h2>Mission Statement</h2>
          <p>Mission Statement as described in the Articles of Incorporation for Friends of Ravenna Cowen, dated August 7, 2017:  "To preserve and protect the heritage of the Ravenna-Cowen neighborhood as a shared community resource for all."
		  </p>

		  </div>
      </div>
    </section>

	<!-- Board Bios Section -->
    <section id="boardbios" class="content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">		
		<h2>Board Biographies</h2>
		
		<h4>Marilyn Spotswood - President</h4>
	
		<p>Marilyn and her family have been residents of the Ravenna neighborhood for over 20 years.  Marilyn spent her professional career researching community-based health care programs and as a project manager for various software companies in Seattle and Bellevue.   She has been an active volunteer in her community for the last ten years.  Marilyn served on several committees and led major fundraising activities for Bryant Elementary and Billings Middle School.  She has served on the Board of Directors for Northeast Seattle Together (NEST) for the last 3 years, serving as President since 2016. </p>

		<h4>John Stewart- Vice President</h4>
		<p>John is a Seattle native and has lived in the Ravenna Bryant neighborhood for over 40 years and studied art and architecture at the University of Washington. He has contributed to this community on the board of the Happy Medium School (an alternative preschool), coaching baseball for the NE Little League and youth soccer programs and volunteer support for the jazz bands at Eckstein Middle School and Roosevelt High School. He is currently the president of the local Ravenna Emergency Preparedness committee. He has been a Seattle Art Museum volunteer since 2013 working exclusively for the Gardener Center for Asian Art and Ideas and its Saturday University Lecture Series. John’s professional career spans 35 years as a business consultant and project manager in custom architectural residential and commercial construction and 15 years as a real estate broker licensed under Coldwell Banker Bain. He participates in a number of trade organizations.</p>

		<h4>Dana Standish – Secretary</h4>
		<p>Dana is a retired freelance writer and editor. In addition to writing for numerous newspapers and magazines, she worked for many years in non-profits: as administrative assistant for the Hazel Wolf High School (now the Seattle Waldorf High School); editor and publications coordinator for Richard Hugo House; and as a grant writer for Northwest Film Forum.</p>

		<h4>Judy Bendich – Treasurer</h4>
		<p>Judith (Judy) Bendich and her husband (Arnie) came to Seattle at the end of 1965. After a one-year stint in Michigan in 1970, they returned with their then 1-1/2-year old son and lived for 20 years just on the east side of Ravenna Park. They then moved all of five blocks to the west side of Ravenna Park, where they now live - for the past 27 years. Judy’s first engagement with the City of Seattle came in the early 70s when the City wanted to crisscross the City with freeways that would destroy Seattle neighborhoods and the Arboretum. She joined Citizens Against the RH Thompson and became Vice President of the Ravenna Bryant Community Association.  That indirectly led her to law school at the University of Washington. After graduation in 1975, Judy started up her law firm, Bendich, Stobaugh & Strong, P.C., with two other UW law School grads. She retired from the firm, about nine years ago, but she is an active member of the Washington Bar. Over the years Judy has served on several non-profit organization boards.</p>

		<h4>Larry E Johnson, AIA – Member at Large</h4>
		<p>Larry is a Seattle native and is committed preserving this region's cultural heritage. He has a diverse background in community and regional planning, residential and commercial architecture, and historic preservation, as well as a continuing interest in architectural and maritime history. He established The Johnson Partnership in 1979, and in addition to providing professional architectural services, Larry has consulted on historic evaluation and preservation projects ranging from local to national importance. He has provided a wide variety of historical services for both public and private clients, including preparing Section 106 analyses, numerous landmark nominations, National Historic Register nominations, as well as documentation for historic structures. He is active in various national, regional, and local preservation organizations. Larry has previously served as past Chair for the Seattle Chapter AIA Historic Resources Committee, past Chair of the Ballard Avenue Historic District, Council Member for Historic Seattle, Trustee for The Northwest School, and as Board member for the Virginia V Foundation and Swedish Cultural Center.</p>

		<h4>Lani Johnson - Member at Large</h4>
		<p>Lani Johnson strives for responsible interaction with our natural and cultural environment in everything from major projects to details of daily life. She grew up in Hawaii, moved to Seattle in 1968, and earned her Master’s in Architecture from the University of Washington. Lani began providing environmental planning consulting services in 1974, managed The Johnson Partnership's planning projects and SEPA/NEPA environmental evaluations between 1982 and 2007, and continued as The Johnson Partnership’s business manager through 2018. In addition to her professional work and other volunteer activities, Lani provided many years of volunteer service for Roosevelt neighborhood land use activities, including serving as a past Land Use Chair and a past Vice President of the Roosevelt Neighborhood Association. She also served on the School Design Team (Design Review), Site Council, and Land Use Departure Committee for Roosevelt High School. She lives in the Ravenna-Cowen North National Historic District and is proud to have contributed her time to its successful nomination.</p>
		
		<h4>V. J. Sood - Member at Large</h4>
		<p>After graduating from Delhi Polytechnic, Delhi India in Mechanical Engineering (BSME) in 1964, I was accepted by Columbia University, New York City in their Masters program (MSME). From 1965 to 1990, I worked in the turbo machinery industry in various marketing and engineering management positions for Dresser Industries, Olean, N.Y. and Elliott Company, a division of Carrier Corporation / United Technologies. Our desire to venture into business brought my wife Maryanne and I to Seattle in 1990. We purchased a custom cabinetry business, which was sold in 1994. We purchased an industrial distribution company in 1995. After growing this business, we sold the company to a West Coast industrial corporation in 2008. I continued to work for the corporation and retired in 2014. Since 1990, Maryanne and I have been living in the Cowen Park neighborhood. We have a daughter, a son and three wonderful granddaughters. They all reside in the Seattle area.</p>

		<h4>Lori Cohen - Member at Large</h4>
		<p>Lori and her husband have lived in the Ravenna neighborhood for 33 years. They selected this neighborhood because of the proximity to Ravenna Park, the lovely historic homes and the sense of community.  Lori supported the efforts to achieve the historic landmark designation and wishes to see the neighborhood’s attributes preserved. Her professional career was with the US Environmental Protection Agency where she worked over a 37-year period to protect and clean up the environment throughout the Northwest. </p>
		
        </div>
      </div>
    </section>
	
    <!-- News Section -->
    <section id="news" class="news-section content-section text-center">
	 <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>News and Events</h2>
			<h4>Ravenna-Cowen North National Historic District street signs are coming!</h4>
			  <p>In late 2018, FORC applied for a City of Seattle Small Sparks grant from the Department of Neighborhoods (DON) to install Historic District street signs. The application was approved in 2019, and the Seattle Department of Transportation (SDOT) is preparing the final design for the signs. The signs are being paid for by a combination of volunteer time already spent by FORC volunteers and matching funds from the Small Sparks grant.</p>
			  
			   <p>The signs will be official brown (denoting historic significance) street signs and will look similar to the photo below. The horizontal brown signs will be made of sheet metal per city standards and will be mounted on street poles or light poles at 12 approved locations that will help identify the Ravenna-Cowen North National Historic District. </p>
			
			<p><img src="img/pike_place_market_sign_v2.jpg" width="400" height="116"></img></p>
			
			<p>We do not know the exact delivery date for the signs, but we expect them to be installed before the end of 2019.  We will announce the installation date once we have that information from the city.  We also plan to have a neighborhood celebration.  Check the FORC website for announcements.</p>

          </div>
        </div>
      </div>
	  <br>
    </section>		

    <!-- Donate Section -->
    <section id="donate" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Donate to Friends of Ravenna-Cowen</h2>
            <p>Thank you for considering a donation to Friends of Ravenna-Cowen (FORC). We are an all-volunteer, charitable 501(c)(3) organization (Tax ID # 82-2731235). Your donation is tax-deductible.</p> 
			
					<form action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EAH7K354SSV6S&source=url" method="post" target="_top">

					<input type="hidden" name="cmd" value="_s-xclick" />

					<input type="hidden" name="hosted_button_id" value="EAH7K354SSV6S" />

					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />

					<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />

					</form>
					
					<br>
			<p>You can also mail a check to:<br>
					<br>
					Friends of Ravenna-Cowen<br>
					1037 NE 65th St., #105<br>
					Seattle, WA 98115<br>
					
			<p>Your donation will help support the continued development of a publicly accessible database that is part of this website.  The database will allow you to look up your home and read all of the relevant historical information. We researched all 443 properties in the Ravenna-Cowen Historic District and collated data from the Puget Sound Regional Archives, King County Tax Assessor, historical files and the Seattle Times historical archives. We also want to build the capability to add family historical files when available. <b>We hope this becomes a repository of information that can be shared with future generations and that keeps the history of the Ravenna-Cowen neighborhoods alive</b>. The cost to develop and maintain this database is approximately $10,000.</p>
			
          </div>
        </div>
      </div>
    </section>

    <!-- Future Projects Section -->
    <section id="future" class="future-section content-section text-center">
	 <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Future Projects</h2>
			  <p>We’re developing ideas for future projects, which might include additional signage and/or interpretive materials, development of historic overlay to help retain neighborhood historic integrity, historic neighborhood/house tours, workshops on topics helpful for homeowners, research workshops, and educational collaborations.  We would love to hear your ideas for future projects.  Our contact information is below.</p>

          </div>
        </div>
      </div>
	  <br>
    </section>
	
    <!-- Contact Section -->
    <section id="contact" class="contactus-section content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Friends of Ravenna-Cowen</h2>
            <p><b>Friends of Ravenna-Cowen</b>
			<br>1037 NE 65th St., #105
			<br>Seattle, WA 98115<p>
			<p>Feel free to reach out to us via email at <a href="mailto:info@friendsofravennacowen.org" target="_blank">info@friendsofravennacowen.org</a> or by clicking on the button below.</p>
            <ul class="list-inline banner-social-buttons">
              <!--<li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>-->
              <li class="list-inline-item">
                <a href="mailto:info@friendsofravennacowen.org" class="btn btn-default btn-lg">
                  <!--<i class="fa fa-github fa-fw"></i>-->
                  <span class="network-name">email</span>
                </a>
              <!--</li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>-->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
